@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-first-color: rgba(212, 150, 151);
    --background-second-color: rgb(200, 127, 129);
}

body {
    cursor: url("/assets/ico/sym46.ico"), auto;
    margin: 0;
    font-family: "Noto Sans TC", sans-serif;
}

/* background */

.background {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--background-first-color);
    background: linear-gradient(137deg, var(--background-first-color) 0%, var(--background-second-color) 100%); 
}


@media screen and (max-width: 700px) {
    .background {
        z-index: -100;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--background-first-color);
        background: linear-gradient(137deg, var(--background-first-color) 0%, var(--background-second-color) 100%); 
    }
}

/* header and navbar */

.nav-container {
    user-select: none;
    position: fixed;
    display: flex;
    padding: 20px;
    height: 50px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(0px);
    transition:backdrop-filter 0.3s ease;
    transition:background-color 1s ease;
}

.nav-container.scrolled {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
}

.nav-title {
    margin-left: 20px;
    margin-right: 20px;
}

.nav-title a {
    text-decoration: none;
}

.nav-title h1{
    font-size: 24px;
    color: white;
    user-select: none;
    font-family: "Noto Sans TC", sans-serif;
}

.nav-bar {
    display: flex;
    width: 400px;
    justify-content: center;
}

.nav-links {
    display: flex;
    gap: 40px;
    list-style-type: none;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-items {
    display: inline-block;
    padding-bottom:2px;
    background-image: linear-gradient(#ffffff 0 0);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
    background-size 0.3s,
    background-position 0s 0.3s;
    font-family: "Noto Sans TC", sans-serif;
}
  
.nav-items:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
}

.mobi-nav-bar-icon {
    display: none;
}


@media screen and (max-width: 700px) {

    .nav-container {
        user-select: none;
        position: fixed;
        width: auto;
        display: flex;
        padding: 15px;
        height: 30px;
        align-items: center;
        background-color: rgba(255, 255, 255, 0);
        left: 0;
        top: 0;
        z-index: 100;
        backdrop-filter: blur(0px);
        transition:backdrop-filter 0.3s ease;
        transition:background-color 1s ease;
    }

    .nav-bar {
        display: none;
    }

    .nav-title h1{
        font-size: 25px;
        color: white;
        user-select: none;
        font-family: "Noto Sans TC", sans-serif;
    }

    .mobi-nav-bar-icon {
        display: block;
        position: absolute;
        right: 20px;
        margin-right: 20px;
        cursor: pointer;
    }

    .mobi-nav-bar-icon i{
        font-size: 25px;
        color: #ffffff;
    }
    
}

/* cover section */

.cover {
    height: 500px;
    margin-top: 100px;
    padding: 40px;
}

.cover_right {
    height: 100%;
}

.cover_right img{
    width: 550px;
    right: 0;
    margin-right: 200px;
    margin-top: -420px;
    position: absolute;
    z-index: 2;
}

.cover_circle {
    height: 370px;
    width: 370px;
    right: 0;
    margin-right: 200px;
    margin-top: -260px;
    background-color: #d8bbbb;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: 1;
    filter: blur(0px);
    transition: filter 1.5s ease;
}

.cover_circle.cover_circle_scrolled{
    filter: blur(20px);
}

.cover_title {
    height: 230px;
    filter: blur(0px);
    transition: filter 0.5s ease;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    user-select: none;
    margin-left: 40px;
}

.cover_title.cover_title_scrolled{
    filter: blur(5px);
}

.cover_title .cover_title_big{
    font-size: 80px;
    font-family: "Noto Serif TC", serif;
    color: #ffffff;
    margin: 0 0 20px 0;
}

.cover_title .cover_title_small{
    font-size: 26px;
    font-family: "Noto Serif TC", serif;
    color: #ffffff;
    margin: 0 0 0 40px;
}

.cover_btn_space {
    margin-left: 40px;
    display: flex;
    gap: 20px;
}

.cover_btn_space a{
    z-index: 10;
}

.cover_btn {
    background-color: #ffffff00;
    color: #fff;
    width: 11em;
    height: 4em;
    border: #ffffff 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
}
  
.cover_btn:hover {
    background-color: #ffffff;
    cursor: pointer;
    color: black;
}
  
.cover_btn svg {
    width: 1.6em;
    margin: -0.1em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
}
  
.cover_btn:hover svg {
    transform: translateX(5px);
}
  
.cover_btn_text {
    margin: 0 1.5em
}


@media screen and (max-width: 1240px) {

    .cover {
        height: 600px;
        margin-top: 40px;
        padding: 20px;
        width: auto;
    }

    .cover_right {
        height: 100%;
    }
    
    .cover_right img{
        width: 480px;
        right: 0;
        margin-right: 10px;
        margin-top: -400px;
        position: absolute;
        z-index: 2;
    }
    
    .cover_circle {
        height: 340px;
        width: 340px;
        right: 0;
        margin-right: 10px;
        margin-top: -260px;
        background-color: #d8bbbb;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        z-index: 1;
    }
}

@media screen and (max-width: 880px) {

    .cover {
        height: 600px;
        margin-top: 40px;
        padding: 20px;
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .cover_right {
        height: 100%;
        margin-top: 100px;
        overflow: hidden;
    }
    
    .cover_right img{
        width: 230px;
        right: 0;
        margin-right: -10px;
        margin-top: -180px;
        z-index: 11;
    }
    
    .cover_circle {
        display: none;
    }
    
    .cover_title {
        height: 170px;
        filter: blur(0px);
        transition: filter 0.5s ease;
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        user-select: none;
        margin-left: 20px;
    }
    
    .cover_title.cover_title_scrolled{
        filter: blur(5px);
    }
    
    .cover_title .cover_title_big{
        font-size: 60px;
        font-family: "Noto Serif TC", serif;
        color: #ffffff;
        margin: 0 0 10px 0;
    }
    
    .cover_title .cover_title_small{
        font-size: 18px;
        font-family: "Noto Serif TC", serif;
        color: #ffffff;
        margin: 0 0 0 10px;
    }
    
    .cover_btn_space {
        width: 10px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .cover_btn_space a{
        z-index: 20;
        cursor: pointer;
    }
    
    .cover_btn {
        background-color: #ffffff00;
        color: #fff;
        width: 12em;
        height: 4em;
        border: #ffffff 0.1em solid;
        border-radius: 11px;
        text-align: right;
        transition: all 0.6s ease;
    }
      
    .cover_btn:hover {
        background-color: #ffffff;
        cursor: pointer;
        color: black;
    }
      
    .cover_btn svg {
        width: 1.6em;
        margin: -0.1em 0.8em 1em;
        position: absolute;
        display: flex;
        transition: all 0.6s ease;
    }
      
    .cover_btn:hover svg {
        transform: translateX(5px);
    }
      
    .cover_btn_text {
        margin: 0 1.2em
    }
}

/* info section */

.info {
    height: 500px;
    padding: 5vw;
    width: auto;
    z-index: 1;
}

.info_back_img img{
    position: absolute;
    width: 800px;
    margin-top: -240px;
    margin-left: -350px;
    rotate: 40deg;
    transition: all 0.6s ease;
    user-select: none;
}

.info_back_img img:hover {
    filter: blur(2px);
}

.info_front_img {
    position: relative;
    width: 100%;
    right: 0;
}
.info_front_img img{
    position: absolute;
    width: 380px;
    margin-top: -120px;
    margin-right: 20px;
    right: 0;
    transition: all 0.6s ease;
    z-index: 10;
    user-select: none;
}

.info_front_img img:hover {
    filter: blur(2px);
}

.info_box {
    background-color: rgba(232, 232, 232, 0.2);
    border-radius: 30px;
    padding: 40px;
    backdrop-filter: blur(20px);
    z-index: 10;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(239, 239, 239, 0.725);
    display: flex;
}

.info_left {
    width: 500px;
}

.info_right {
    height: 450px;
}

.info_map {
    border:0;
    width: 620px;
    height: 100%;
}

.info_title {
    display: block;
    margin-bottom: 40px;
}

.info_title h1 {
    font-size: 43px;
    color: rgb(76, 63, 63);
    font-family: "Noto Serif TC", serif;
    margin: 0;
    user-select: none;
}

.info_content{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.info_content h1{
    font-size: 30px;
    color: white;
    font-family: "Noto Serif TC", serif;
    margin: 0 0 20px 0;
}

.info_content h3{
    font-size: 20px;
    color: white;
    font-family: "Noto Serif TC", serif;
    margin: 0 0 0 0;
    font-weight: 500;
}

.info_content_2 h1{
    font-size: 30px;
    color: white;
    font-family: "Noto Serif TC", serif;
    margin: 0 0 20px 0;
}

.info_content_2 h3{
    font-size: 20px;
    color: white;
    font-family: "Noto Serif TC", serif;
    margin: 0 0 0 0;
    font-weight: 500;
}

.info_cal_btn_space {
    margin-left: 0px;
    margin-top: 25px;
    display: flex;
    gap: 20px;
}

.info_cal_btn {
    background-color: #ffffff00;
    color: #fff;
    width: 11em;
    height: 4em;
    border: #ffffff 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
}
  
.info_cal_btn:hover {
    background-color: #ffffff;
    cursor: pointer;
    color: black;
}
  
.info_cal_btn svg {
    width: 1.6em;
    margin: -0.1em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
}
  
.info_cal_btn:hover svg {
    transform: translateX(5px);
}
  
.info_cal_btn_text {
    margin: 0 1.5em
}

@media screen and (min-width: 1920px) {
    .info_box {
        padding-left: 5vw;
    }

}

@media screen and (max-width: 1110px) {

    .info {
        height: 500px;
        padding: 20px;
        z-index: 1;
    }
    
    .info_back_img img{
        position: absolute;
        width: 600px;
        margin-top: -180px;
        margin-left: -280px;
        rotate: 40deg;
        transition: all 0.6s ease;
        user-select: none;
    }
    
    .info_back_img img:hover {
        filter: blur(2px);
    }
    
    .info_front_img {
        position: relative;
        width: 100%;
        right: 0;
    }

    .info_front_img img{
        position: absolute;
        width: 180px;
        margin-top: -60px;
        margin-right: 2px;
        right: 0;
        transition: all 0.6s ease;
        z-index: 10;
        user-select: none;
    }
    
    .info_front_img img:hover {
        filter: blur(2px);
    }
    
    .info_box {
        background-color: rgba(232, 232, 232, 0.2);
        border-radius: 30px;
        padding: 30px;
        backdrop-filter: blur(10px);
        z-index: 10;
        border-style: solid;
        border-width: 2px;
        border-color: rgba(239, 239, 239, 0.725);
        display: flex;
        flex-direction: column;
    }
    
    .info_left {
        height: 500px;
        width: 100%;
    }
    
    .info_right {
        height: 230px;
        width: 100%;
    }
    
    .info_map {
        border:0;
        width: 100%;
        height: 200px;
    }
    
    .info_title {
        display: block;
        margin-bottom: 40px;
    }
    
    .info_title h1 {
        font-size: 34px;
        color: rgb(76, 63, 63);
        font-family: "Noto Serif TC", serif;
        margin: 0;
        user-select: none;
    }
    
    .info_content{
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
    }
    
    .info_content h1{
        font-size: 25px;
        color: white;
        font-family: "Noto Serif TC", serif;
        margin: 0 0 20px 0;
    }
    
    .info_content h3{
        font-size: 20px;
        color: white;
        font-family: "Noto Serif TC", serif;
        margin: 0 0 0 0;
        font-weight: 500;
    }
    
    .info_content_2 h1{
        font-size: 25px;
        color: white;
        font-family: "Noto Serif TC", serif;
        margin: 0 0 20px 0;
    }
    
    .info_content_2 h3{
        font-size: 20px;
        color: white;
        font-family: "Noto Serif TC", serif;
        margin: 0 0 0 0;
        font-weight: 500;
    }
    
    .info_cal_btn_space {
        margin-left: 0px;
        margin-top: 25px;
        margin-bottom: 40px;
        display: flex;
        gap: 20px;
    }
    
    .info_cal_btn {
        background-color: #ffffff00;
        color: #fff;
        width: 11em;
        height: 4em;
        border: #ffffff 0.2em solid;
        border-radius: 11px;
        text-align: right;
        transition: all 0.6s ease;
    }
      
    .info_cal_btn:hover {
        background-color: #ffffff;
        cursor: pointer;
        color: black;
    }
      
    .info_cal_btn svg {
        width: 1.6em;
        margin: -0.1em 0.8em 1em;
        position: absolute;
        display: flex;
        transition: all 0.6s ease;
    }
      
    .info_cal_btn:hover svg {
        transform: translateX(5px);
    }
      
    .info_cal_btn_text {
        margin: 0 1.5em
    }

}


/* footer */
.footer {
    position: absolute;
    margin-top: 200px;
    bottom: unset;
    left: 0;
    right: 0;
    height: 40px;
    background: #fbc1c1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}

.footer h1{
    margin: 0;
    font-size: 25px;
    color: #886565;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    user-select: none;
}

@media screen and (max-width: 1110px) {

    .footer {
        position: absolute;
        margin-top: 380px;
        left: 0;
        right: 0;
        height: 40px;
        background: #fbc1c1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        flex-direction: column;
    }
    
    .footer h1{
        margin: 0;
        font-size: 25px;
        color: #886565;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        user-select: none;
    }
    
}